.picture-frame {
  height: 344px;
  width: 500px;
  overflow: hidden;
  margin: 50px auto;
  position: relative;
}

.film-roll {
  width: 1500px; /* 3 times the width of one image */
  position: absolute;
  left: 0px;
  top: 0px;
}

img {
  float: left; /* forces the images to touch each other */
}
