.picture-frame {
  height: 535px;
  width: 800px;
  overflow: hidden;
  margin: 50px auto;
  position: relative;
}

.film-roll {
  width: 2400px; /* 3 times 800px */
  position: absolute;
  left: 0px;
  top: 0px;
}

img {
  float: left; /* forces the images to touch each other */
}
