.picture-frame {
  height: 535px;
  width: 800px;
  overflow: hidden;
  margin: 50px auto;
}

.filmroll {
  width: 2400px; /* 3 times 800px */
}

img {
  float: left; /* forces the images to touch each other */
}
